@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    text-rendering: optimizeLegibility;
}

body {
    color: #e9e4e4;
    background: #03001d;
}

body::-webkit-scrollbar {
    width: 8px;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo-img {
    width: 80px;
    height: auto;

    
}


.navbar a {
    font-size: 18px;
    color: hsl(0, 100%, 100%);
    text-decoration: none;
    font-weight: 500;
    margin-left: 25px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #3a9859de;

}

.home {
    height: 100vh;
   background-image: url('klee-moch.jpg') ;
   background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}


.social-media {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.social-media a {
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: inline-block;
}
.social-media a:link {
    padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
    margin: 0 10px;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.social-media a:hover {
    background-color: #3a9859de;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #ffffff;
    transform: translateY(-7px);
    -webkit-transform: translateY(-7px);
    justify-content: space-between;
}

