@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    text-rendering: optimizeLegibility;
}

body {
    color: #e9e4e4;
    background: #03001d;
}

body::-webkit-scrollbar {
    width: 8px;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo-img {
    width: 80px;
    height: auto;

    
}


.navbar a {
    font-size: 18px;
    color: hsl(0, 100%, 100%);
    text-decoration: none;
    font-weight: 500;
    margin-left: 25px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #3a9859de;

}

.home {
    height: 100vh;
   background-image: url('destruction!.gif') ;
   background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #7da764;
}

.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box a {
    position:relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #3a9859de;
    border: 2px solid #3a9859de;
    border-radius: 20px;
    font-size: 19px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    
}
.btn-box a:nth-child(1) {
    background: transparent;
    color: #ffffffde;

}

.btn-box a:nth-child(1)::before {
    background: #31864dde;
    border-radius: 20px;
    z-index: 1;

}
.btn-box a:nth-child(2) {
    background: transparent;
    color: #fafcfbde;

}

.btn-box a:nth-child(2)::before {
    background: #31864dde;
    border-radius: 20px;
    z-index: 1;


}

.btn-box a::before {
    content: " " ;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:#0000007c;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.about {
    gap: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 10rem;
    padding: 5rem 15%;
    justify-content: center;
    background: var(--second-bg-color);
    padding-bottom: 5rem;

}

.about-img {
    
    border-radius: 5%;
    overflow: hidden;
    align-items: self-start;


}

.about-img:hover .imgReveal{
    animation: spin 6s linear infinite;
}
.imgReveal {
    width: 500px;
    height: auto;
    border-radius: 5%;
    transition: transform 0.5s ease;
}
.social-media {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.social-media a {
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: inline-block;
}
.social-media a:link {
    padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
    margin: 0 10px;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.social-media a:hover {
    background-color: #3a9859de;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #ffffff;
    transform: translateY(-7px);
    -webkit-transform: translateY(-7px);
    justify-content: space-between;
}